page-login {

    $transparent-white: rgba(255, 255, 255, .6);
  // This is just to make the header transparent and button/icon with white color
  .toolbar-content,
  span {
    color: white;
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    background: transparent !important;
    background-color: transparent !important;
  }
  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }
    .content {
       // background: rgb(17, 100, 126);
       background-image: linear-gradient(to bottom, #3196f5, #3b3eee 130%);

        background-repeat: no-repeat;
        background-size:cover;
        /*background-color: transparent;*/
        background-size: 100% 100%;
        background-position: center center;
        padding: 0px;

    }

    
}
